@page "/"

<PageTitle>Home</PageTitle>

<div class="page-centered">
  <div class="page-title">Home</div>
  <div class="font-medium mb-2">Welcome!</div>
  <div>Use this app view and edit shelf arrangements!</div>
</div>